@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 전체 태그에 적용 */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Cafe24Ssurround';
  display: flex; /*하위 태그들을 정렬*/
  flex-direction: column; /*전체세로정렬*/
  justify-content: center; /*가로방향정렬*/
  align-items: center; /*세로방향정렬*/
  height: 100vh; /* vh는 화면의 % */
  overflow: hidden;
  margin: 0;
  /*  */
}
